<section class="main_section">
  <div class="container">
    <div class="main_section_container">
      <div class="main_text">
        <span>
          <svg width="59" height="59" class="h1-icon">
            <use href="../img/icons/symbol-defs.svg#icon-sun"></use>
          </svg>
          <h1>Get Body in shape, Stay healthy</h1>
        </span>
        <p class="main_text_p">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="main_decoration">
        <div
          class="decoration-img"
        ></div>
        <div class="text">
          <p>#Sport</p>
          <p>#Healthy</p>
          <p>#Workout</p>
          <p>#Diet</p>
        </div>
      </div>
    </div>
    <div class="main-image"></div>
    <div class="desctop-hidden">
      <p>#Sport</p>
      <p>#Healthy</p>
      <p>#Workout</p>
      <p>#Diet</p>
    </div>
  </div>
</section>
