.main_section {
  padding: 68px 0 64px 0;
}

.main_section .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.main_section .main_text span {
  max-width: 639px;
}
.main_section_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_section h1 {
  font-size: 74px;
  line-height: 74px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -2%;
  position: relative;
}

.main_section .main_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_section .h1-icon {
  stroke: var(--black-color);
  flex-shrink: 0;
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}

.main_section .main_text_p {
  font-size: 18px;
  letter-spacing: -2%;
  max-width: 528px;
}

.main_section .main_decoration {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-end;
}

.main_section .main_decoration .text {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  width: 197px;
  flex-wrap: wrap;
}

.main_section .main_decoration p {
  padding: 3px 15px;
  border-radius: 30px;
  border: 1px solid var(--black-color);
}

.main_section .main-image {
  border-radius: 60px;
  width: 100%;
  height: 350px;
  background-image: image-set(
    url("../img/main-desctop-1x.png") 1x,
    url("../img/main-desctop-2x.png") 2x
  );
}
.main_section .desctop-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main_section .decoration-img {
  width: 168px;
  height: 100px;
  background-image: image-set(
    url("../img/text-img-1x.png") 1x,
    url("../img/text-img-2x.png") 2x
  );
  background-size: cover;
  background-position: center;
  border-radius: 20px
}

@media (max-width: 1439px) {
  .main_section .main_decoration {
    position: absolute;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .main_section .desctop-hidden {
    position: static;
    width: auto;
    height: auto;
    padding: initial;
    margin: initial;
    overflow: visible;
    clip: auto;
    white-space: normal;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
  }
  .main_section .desctop-hidden p {
    padding: 3px 15px;
    border-radius: 30px;
    border: 1px solid var(--black-color);
  }
  .main_section .main-image {
    height: 550px;
    background-image: image-set(
      url("../img/main-tablet-1x.png") 1x,
      url("../img/main-tablet-2x.png") 2x
    );
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 767px) {
  .main_section {
    padding: 80px 0 40px 0;
  }
  .main_section h1 {
    font-size: 38px;
    line-height: 44px;
  }

  .main_section .h1-icon {
    width: 38px;
    height: 38px;
  }

  .main_section .main_text_p {
    font-size: 14px;
    line-height: 18px;
  }
  .main_section .main-image {
    height: 460px;
  }
  .main_section .desctop-hidden p {
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 14px;
    line-height: 18px;
  }
}
