.progress-wrap {
  position: fixed;
  right: 25px;
  bottom: 40px;
  height: 56px;
  width: 56px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: inset 0 0 0 3.8px var(--white-color);
  z-index: 999;

  background: var(--white-60);
  backdrop-filter: blur(2.5px);
  

  opacity: 0;
  visibility: hidden;

  transform: translateY(15px);
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.progress-wrap input {
  z-index: 900;
}

.progress-wrap input:checked + html {
  scroll-snap-type: unset;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: '↑';
  text-align: center;
  line-height: 56px;
  font-size: 30px;
  color: var(--black-color);
  left: 0;
  top: -2px;
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap::before {
  position: absolute;
  content: '↑';
  text-align: center;
  line-height: 56px;
  font-size: 30px;
  opacity: 0;
  -webkit-text-fill-color: var(--black-color);
  left: 0;
  top: -2px;
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: var(--black-color);
  stroke-width: 8;
  box-sizing: border-box;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}
