/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./benefits.css');
@import url('./ingredients.css');
@import url('./recipe.css');
@import url('./products.css');
@import url('./sellers.css');
@import url('./reviews.css');
